# Build and Release Folders
Copyright (c) 2020, Nathidraws
Copyright (c) 2020, Google
Copyright (c) 2020, Valve
Copyright (c) 2020, Facebook
Copyright (c) 2020, Everything
Copyright (c) 2020, Youtube
Copyright (c) 2020, React
All rights reserved.

# Other files and folders
Copyright (c) 2020, Nathidraws
Copyright (c) 2020, Google
Copyright (c) 2020, Valve
Copyright (c) 2020, Facebook
Copyright (c) 2020, Everything
Copyright (c) 2020, Youtube
Copyright (c) 2020, React
All rights reserved.

# Executables
Copyright (c) 2020, Nathidraws
Copyright (c) 2020, Google
Copyright (c) 2020, Valve
Copyright (c) 2020, Facebook
Copyright (c) 2020, Everything
Copyright (c) 2020, Youtube
Copyright (c) 2020, React
All rights reserved.

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

Copyright (c) 2020, Nathidraws
Copyright (c) 2020, Google
Copyright (c) 2020, Valve
Copyright (c) 2020, Facebook
Copyright (c) 2020, Everything
Copyright (c) 2020, Youtube
Copyright (c) 2020, React
All rights reserved.

Nah I own them all.

Also what is gitignore?
